<form ng-hide="!login()">
  <input type="text" ng-model="newTopic.name" placeholder="Topic Name">
</form>
<button ng-click="addTopic()" ng-if="login()">Create New Topic</button>

<div>
  <h3>Topics:</h3>
  <ul>
    <li ng-repeat="topic in TopicService.topics">
      <div><a ng-href="/topics/{{topic.id}}/messages">{{ topic.name }}</a></div>
      <div>Posted by: <a ng-href="/users/{{topic.user.id}}">{{ topic.user.name }}</a></div>
      <div>{{ topic.createdAt | date:'medium' }}</div>
      <br>
    </li>
  </ul>
</div>