<div>
  <ul>
    <li>
      <h4>User: {{ user.user }}</h4>
      <li>Join Date: {{ user.joinDate | date:'medium'}}</li>
        Messages:
      <ul ng-repeat="message in user.messages">
        <br>
        <li>
          <div>Message: {{ message.body }}</div>
          <div>Posted: {{ message.createdAt | date:'medium' }}</div>
          <div>Topic: <a ng-href="/topics/{{message['topic.id']}}/messages">{{ message['topic.name'] }}</a></div>
          <br>
        </li>
      </ul>
    </li>
  </ul>
  <a ng-href="/users">Back to Users</a>
</div>